<form method="POST" action="/add-movie-process" enctype="multipart/form-data">
	<label for="movie_title">Movie Title</label>
	<input type="text" name="movie_title">
</br>
	<label for="movie_pic">Cover</label>
	<input type="file" name="movie_pic">
</br>
	<input type="radio" name="stars" value="1">1
	&nbsp;
	<input type="radio" name="stars" value="2">2
	&nbsp;
	<input type="radio" name="stars" value="3">3
	&nbsp;
	<input type="radio" name="stars" value="4">4
	&nbsp;
	<input type="radio" name="stars" value="5">5
	&nbsp;
	<input type="submit" name="submit" value="submit">
</form>