<%=flash[:message] if flash[:message]%>
<form method="POST" action="/sign-up-process">
	<label for="fav_movie">Favorite Movie</label>
	<input type="text" name="fav_movie">
</br>
	<label for="email">E-Mail</label>
	<input type="email" name="email">
</br>
	<label for="username">Username</label>
	<input type="text" name="username">
</br>
	<label for="password">Password</label>
	<input type="password" name="password">
</br>
	<input type="submit" name="submit" value="Create Account">
</form>