<div id="wrapper">
</br>
	<center><div id="header">All You Need is Popcorn</div></center>
	<div id="popcorn"></div>
	<div id="popcorn3"></div>
</div>
</br>
</br>
</br>
<center><div id="add_movie">
</br>
</br>
</br>
</br>
<form method="POST" action="/sign-in-process">
	<label for="username">Username: </label>
	<input type="text" required name="username">

	<label for="password">Password: </label>
	<input type="password" required name="password">

	<input id="btn4" type="submit" required name="submit" value="Login">
</form>
</br>
<a href="/sign-up">Don't have an account? Sign up here!</a>
</div></center>
<div id="popcorn6"></div>
<div id="popcorn7"></div>
<div id="popcorn2"></div>